<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">    	
	   <title>liste des etapes d'une destination</title>
</head>

<body>
 	<header th:replace="fragments/header.html :: top"></header> 	
	
	<!-- Debut-- Div à ajouter pour que la page ne passe pas sous le menu --> 
	<div class="row">""</div>
	<div class="row">""</div>
	<div class="row">""</div>
	<div class="container">
			<h2>Lists of stages</h2>
	</div>
	<!-- Fin-- Div à ajouter pour que la page ne passe pas sous le menu --> 
	
	
	<!-- Tableau Liste des voyages -->
	<div class="container">
		<div class="row">
       		<div class="col-md-12">
		        <div class="table-responsive">	
					<table id="mytable" class="table table-bordred table-striped">
							<tr>
								<th>Id</th>
								<th>Town</th>
								<th>Stage date</th>
								<th>Description</th>
							</tr>								
						<tbody>
		    				<tr th:each="stage : ${stages}">
		        				<td th:text="${stage.id}">id</td>
		        				<td th:text="${stage.town}">town</td>
		        				<td th:text="${stage.stageDate}">date</td>
		        				<td th:text="${stage.description}">Decription</td>
		    				</tr>							
						</tbody> 
					</table>							 
				</div>		
			</div>		
		</div>
	</div>
		
		
	<!-- retour à la page principale  -->
	<a href="/">Return to home</a>
	<footer th:replace="fragments/footer.html :: bottom"></footer>
	
</body>
</html>